<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jeu de Hex</title>
	<link rel="stylesheet" type="text/css" href="/static/game.css">
</head>
<body>
<div id="board"></div>
<script src="/static/game.js"></script>
</body>
</html>
