<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Histoire et règles du jeu de Hex</title>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body class="h-screen w-full bg-gradient-to-b from-[#8ECAE6] to-[#FFB703]">
<a class="absolute hover:shadow-xl size-[5%] p-2 m-3 text-center text-white border-solid border-orange-500 border-2 bg-orange-400
hover:bg-orange-500 rounded font-bold" href="/">RETOUR</a>
	<div class="flex flex-col size-full  items-center">
		<p class="text-4xl text-center font-bold p-5">Histoire et règles du jeu</p>
		<div class="flex flex-col bg-white rounded size-[90%] bg-opacity-75 shadow-lg p-10  backdrop-blur-sm justify-between">
			<div>
				<p class="text-lg text-center">
					Le jeu Hex est un jeu de stratégie inventé par le mathématicien danois Piet Hein en 1942.<br> Il a été ensuite
					redécouvert et popularisé indépendamment par John Nash, mathématicien et lauréat du prix Nobel d'économie, en 1947.
					<br><br>Hex se joue sur un plateau hexagonal, généralement composé de 11x11 ou 13x13 hexagones.
					Deux joueurs s'affrontent, chacun contrôlant un ensemble de pièces de couleur différente
					(généralement bleu et rouge, ici bleu et orange). Au départ, le plateau est vide. À tour de rôle, chacun des
					joueurs pose un pion de sa couleur sur la case de son choix - à la seule condition que cette case ne soit pas
					déjà occupée. Une fois posé, un pion ne peut plus être déplacé. L'objectif est de relier les côtés opposés du plateau
					avec une chaîne continue de ses propres pièces, ce qui empêche l'adversaire de créer une chaîne similaire.
					Le jeu combine des éléments de stratégie et de tactique. Les joueurs doivent anticiper les mouvements de
					leur adversaire tout en cherchant à construire leur propre connexion. Comme le plateau est symétrique et
					que les joueurs utilisent des pièces de couleur différente, le jeu de Hex est équitable et garantit qu'il y
					aura toujours un gagnant.
					<br><br>De nombreuses variantes et extensions du jeu ont été développées au fil des ans, mais le concept de
					base reste le même : <br>être le premier à relier ses côtés opposés.
				</p>
				<hr class="h-px my-8 bg-black border-0">
			</div>
			<div class="grid grid-cols-3 gap-4 h-full">
				<div class="flex flex-col justify-center items-center">
					<img class="size-full object-contain" src="/static/img/Hex_board_11x11.svg.png">
					<p>Début de partie</p>
				</div>
				<div class="flex flex-col justify-center items-center">
					<img class="size-full object-contain" src="/static/img/Hex_board_11x11.svg.png">
					<p>Début de partie</p>
				</div>
				<div class="flex flex-col justify-center items-center">
					<img class="size-full object-contain" src="/static/img/Hex_board_11x11.svg.png">
					<p>Début de partie</p>
				</div>
			</div>
		</div>

	</div>
</body>
</html>